/* Universal Styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: "Open Sans", monospace, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.275rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.4625rem;
    font-weight: 400;
}

/* Font-size change */

/* Mobile SE */
@media only screen and (max-width: 400px) {
    html {
        font-size: 14px;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) and (min-width: 400px) {
    html {
        font-size: 16px;
    }
}

/* Larger screen sizes */
@media only screen and (min-width: 1500px) {
    html {
        font-size: 20px;
    }
}

/* Header ***************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    padding: 0 2%;
    z-index: 1;
    border-bottom: 1px solid #fff;
    background-color: #000;
}

/* Logo */
.logo {
    display: inline-flex;
    align-items: center;
}

.logo img {
    height: 60%;
    width: auto;
    display: inline;
}

/* Main-links */
.main-links {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-links ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.main-links li {
    margin: 0 2%;
}

.main-links a {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.main-links a:hover {
    text-decoration: underline;
}

/* Settings*/
.desktop.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile {
    display: none;
}

.settings {
    width: 15%;
    height: 100%;
}

.settings ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.settings li {
    /* To fit images */
    width: 30%;
    height: 60%;

    /* padding-left: 2%; */
    border-left: 1px solid #fff;
}

.settings a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.settings a:hover {
    opacity: 0.7;
}

.settings img {
    height: 45%;
    width: auto;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    /* Turn off the desktop navigation */
    .desktop.settings, .desktop {
        display: none;
    }

    /* Adjust nav space */
    .settings {
        width: 25%;
        height: 100%;
    }

    /* Style mobile settings */
    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .settings li {
        /* To fit images */
        width: 45%;
    }
}
/* 4K screens */
@media only screen and (min-width: 1025px) {
    .settings ul {
        justify-content: center;
    }

    .settings img {
        height: 45%;
        width: auto;
    }
}
/* Header ***************************************************/

/* Main ***************************************************/
main {
    margin-top: 9vh;
}

/* Banner */
.main_banner {
    height: 50vh;
    padding: 0 5%;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    background-color: #000;
}

.main_banner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    max-width: 700px;
    padding: 1rem 0;
}

.main_banner h1 {
    margin-bottom: 1.75rem; 
}

.main_banner h2 {
    margin-bottom: 1.5rem;
}

.main_banner a {
    text-align: center;
    width: 75%;
    padding: 1.2rem;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(38, 137, 13);
}

.main_banner a:hover {
    background-color: rgb(37, 156, 7);
}

.main_banner a:visited {
    color: #ececec;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .main_banner .content {
        width: 90%;
        justify-content: end;
    }
}

/* Larger screens */
@media only screen and (min-width: 1500px) {
    .main_banner {
        display: flex;
        justify-content: center;
    }
}
/* Main ***************************************************/